<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼 제출</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
    <script src="/script/common.js"></script>

<form id="inputForm">
    <div>
        <label for="urlInput">URL :</label>
        <input type="text" id="urlInput" name="blogUrl" style="width: 400px;"><br><br>
    </div>

    <div id="keywordInputs">
        <label for="keyWord">Keyword 1:</label>
        <input type="text" id="keyWord" name="keyWord" style="width: 150px;">
    </div>

    <div>
        <button type="button" onclick="addKeywordInput()">키워드 추가</button>
        <button type="button" onclick="removeKeywordInput()">키워드 제거</button><br><br>
    </div>
    <button type="button" onclick="submitForm()">저장</button>
</form>
<!-- 블로그 등록 버튼 -->
<button class="register-blog-button" onclick="window.location.href = '/blog/list'">블로그 순위</button>

</body>
</html>
