.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  height: 350px; /* 컨테이너 높이 설정 */
  width: 100%;  /* 컨테이너 너비 설정 */
  position: relative;
}

.chart-canvas {
  height: 100%; /* 캔버스가 컨테이너에 맞도록 설정 */
  width: 100%;
  position: absolute;
}

.month-inputs {
  display: none;
}

/*검색 input 박스*/
.search-input {
  position: relative;
}

.search-input .form-control {
  padding-right: 40px;
}

.search-input .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(249, 249, 250);
  border-bottom-color: rgb(218, 218, 220);
  border-bottom-style: solid;
  border-bottom-width: 1.11111px;
}

.scroll-container {
  overflow-x: auto;
  flex-grow: 1;
  display: flex;
  scroll-behavior: smooth;
  white-space: nowrap; /* Ensure content stays on one line */
}

.scroll-btn {
    width: 40px; /* 조절 가능 */
    flex-shrink: 0;
}

/* 스크롤바 숨기기 */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.nav-link.active {
  background-color: #28a745 !important;
  color: white !important;
}

.nav-tabs {
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

/*연관 라벨*/
.label-orange {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
}

/*스블 라벨*/
.label-green {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
}

.label {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}

.label-cafe {
  background-color: #eaffea;
  color: #3eb53e;
}

.label-influencer {
  background-color: #ffeaea;
  color: #d14343;
}

.label-blog {
  background-color: #f1f1f1;
  color: #5a5a5a;
}
